@import './font-family.css';

:root {
  --color-text: #D7D7D7;
  --color-background: #2B2B2B;
  --color-primary-bg: rgb(255, 71, 255);
  --color-secondary-bg: #60dcd3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


body {
  line-height: 1.6;
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


